pkgbase = wsl-open
	pkgdesc = Utility for opening files within the Windows Subsystem for Linux command line in Windows GUI applications.
	pkgver = 2.2.1
	pkgrel = 1
	url = https://github.com/4U6U57/wsl-open
	arch = any
	license = MIT
	checkdepends = bash-bats
	checkdepends = bash-bats-assert
	checkdepends = bash-bats-support
	makedepends = git
	depends = bash
	depends = xdg-utils
	depends = coreutils
	depends = findutils
	source = https://gitlab.com/4U6U57/wsl-open/-/archive/v2.2.1/wsl-open-v2.2.1.tar.gz
	sha256sums = 98041e748e0e137435d7a49206f8b734b64983b8f936608e77fc537b88eb1fb8

pkgname = wsl-open
